<html>
   <head>
       <title>*Expense TRACKER* </title>
       <style>
        .grid-container{
          column-count: 4;
        }
        .active-button{
          background-color: green;
        }
        .inactive-button{
          background-color: white;
        }
      </style>
   </head>
       <body>        
        <h1>Expense TRACKER</h1>
        <div> 
        <form action="" method="post" novalidate>
           {{ form.hidden_tag() }}

           {{ form.description(size=8) }}
           
           <select name="currency">
           {% for curr in currencies %}
            <option value="{{ curr }}" SELECTED>{{ curr }}</option>
           {% endfor %}   
           </select>
           
           {{ form.amount(size=8) }}
              
           {{ form.submit() }}
        </form>
        </div>
        
        {%if form.errors:%}
        <div>
          <h2> ERROR! </h2>
          {%for k, v in form.errors.items():%}
          <p>{{k}}: {{v}}</p>
          {% endfor %}
        {%endif%}
        </div>

        
        <h1> Expenses </h1>
        <a href="/switch_sorting"><input type="button" value={{sorting_button_label}}></a>

        {% for curr in currencies %}
          {%if curr == listed_currency%}
            <a href="/switch_listed_currency/{{curr}}"><input class="active-button" type="button" value={{curr}}></a>
          {%else%}
            <a href="/switch_listed_currency/{{curr}}"><input class="inactive-button" type="button" value={{curr}}></a>
          {%endif%}
        {%endfor%}
        {%if listed_currency%}
        <a href="/switch_listed_currency/"><input class="inactive-button"  type="button" value="ALL"></a>
        {%else%}
        <a href="/switch_listed_currency/"><input class="active-button"  type="button" value="ALL"></a>
        {%endif%}
        <div class="grid-container">
          {% for expense in exps %}
          <div class="grid-item">{{expense.description}}</div>
          {% endfor %}
          {% for expense in exps %}
          <div class="grid-item">{{expense.currency}}</div>
          {% endfor %}
          {% for expense in exps %}
          <div class="grid-item">{{expense.amount}}</div>
          {% endfor %}
          {% for expense in exps %}
          <div class="grid-item">{{expense.spent_at}}</div>
          {% endfor %}
      </div >
    </body>
</html>
